networkx==2.5
tqdm~=4.62.3
Pillow~=8.4.0
numpy~=1.19.5
opencv-python~=4.5.5.62
scikit-image
scikit-learn~=1.0.1
tensorboard~=2.6.0
PuLP~=2.6.0
matplotlib~=3.4.3
tensorflow~=2.6.2
keras~=2.6.0
setuptools~=58.0.4
six~=1.15.0
scipy~=1.7.3