networkx==2.8.0
tqdm
Pillow
numpy
opencv-python
scikit-image
scikit-learn
tensorboard
PuLP
matplotlib
scipy
protobuf==3.20.1 #Temporary change because of protobuf new version bug: https://github.com/protocolbuffers/protobuf/issues/10051
